.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header{
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}


.header__title{
  width: 730px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  padding-left: 64px;
}


.header__subtitle{
  z-index: 2;
  position: absolute;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  line-height: 18px;
  left: 64px;
  bottom: 30px;
}


.header__link{
  z-index: 2;
  color: #2f80ed;
  text-decoration: none;
}


.header__main-illustration{
  z-index: 1;
  position: absolute;
  bottom: 0;
  right:0;
  height: 608px;
  width: 765px;
}


.header__square-pic{
  display: flex;
  position: absolute;
  height: 568px;
  width: 568px;
  right:0;
  top: 64px;
  background-color: #2f80ed;
}


.logo{
  position: absolute;
  width: 183px;
  height: 32px;
}


.logo_place_header{
  height: 32px;
  z-index: 2;
  top: 30px;
  left: 64px;
}


.content{
  display: flex;
  flex-direction: column;
}


.description{
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
}


.two-columns{
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
}


.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  margin: 0;
}


.two-columns__main-text{
  display: flex;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
  align-items: flex-end;
}


.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: auto;
}


.two-columns__paragraph_margin{
  margin-top: 30px;
  margin-bottom: 30px;
}


.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}


.digits{
  display: flex;
  margin-bottom: 100px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.section_title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}


.section__subtitle{
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}


.table{
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  justify-content: space-between;
  padding-inline-start: 0;
}


.table__cell{
  width: 250px;
  margin-top: 60px;
  list-style: none;
  margin-bottom: 0;
}


.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin:0;
}


.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}


.table__text_margin_none{
  margin-bottom: 0;
}


.feynman{
  min-height: 890px;
  display: flex;
  margin:0;
  background-color: #f2f2f2;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
}


.feynman__title{
  z-index: 2;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  margin: 0;
  text-align: center;
}


.feynman__subtitle{
  z-index: 2;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}


.feynman__link{
  z-index: 2;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 40px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}


.feynman__img{
  position:absolute;
  left: 0;
  bottom: 0;
  height: 637px;
  width: 867px;
}


.kaufman{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
}


.section-title_theme_dark{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-top: 90px;
  z-index: 2;

}


.section-subtitle_theme_dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  z-index: 2;
}


.table_theme_dark{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  justify-content: space-between;
  padding-inline-start: 0;
  margin-bottom: 90px;
  z-index: 2;
  margin-bottom: 90px;

}


.table__cell_theme_dark{
  margin-top: 80px;
  width: 200px;
}


.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: white;
  z-index: 2;
}


.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
  z-index: 2;

}


.kaufman__triangle{
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
}


.footer{
  display: flex;
  flex-direction: row;
  min-height: 350px;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;

}


.footer__columns{
  display: flex;
  width: 90%;
  justify-content: space-between;
}


.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;

}


.footer__column_content_info{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}


.footer__column_content_social{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}


.logo_place_footer{
  height: 35px;
  position: static;
}


.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-bottom: 18px;
}


.footer__column_heading{
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-block-start: 0;
  color: white;
}


.footer__column_links{
  list-style: none;
  margin: 0;
  padding: 0;
}


.footer__social-icon{
  margin-right: 10px;
  width: 16px;
  height: 16px;
}


.footer__column_link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}
